.services {
  background: #fafafa;
  text-align: center;
  padding: 80px 20px;
}

.section-title {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 60px;
}

/* GRID — ALWAYS 3 PER ROW (DESKTOP) */
.services-grid {
   display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

/* CARD */
.service-card {
 background: white;
  text-align: left;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 370px;
  height: 189px;
  padding-top: 30px;
  padding-left: 20px;
}

/* ICON */
.service-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 20px;
}

/* TEXT */
.service-card h3 {
  font-size: 16px;
  color: var(--orange);
  margin-bottom: 14px;
}

.service-card p {
  font-size: 12px;
  line-height: 1.7;
  color: #555;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .section-title {
    font-size: 2rem;
  }
}
