@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.services {
  background: #fafafa;
  text-align: center;
  padding: 80px 20px;
}

.section-title {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 60px;
}

/* GRID — ALWAYS 3 PER ROW (DESKTOP) */
.services-grid {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

/* CARD */
.service-card {
  background: white;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 440px;
}

/* ICON */

.service-icon {
  margin-bottom: 20px;
  object-fit: cover;
  width: 100%;
  height: 60%;
}

/* TEXT */
.service-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 12px;
  padding: 8px 20px 20px 20px;
}
.service-card h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--orange);
  margin-bottom: 14px;
  padding: 0 20px;
}

.service-card p {
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.7;
  color: #555;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .section-title {
    font-size: 2rem;
  }
}
